@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans JP", sans-serif;
$second-font-family: "Noto Serif JP", serif;
$en-font-family: "Gotu", sans-serif;
$Lato-font-family: "Lato", sans-serif;

// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$base-color: #0d2936;
$accent-color-green: #408f95;
$accent-color-green-light: #ddf0f1;

$white: #fff;

body {
  font-family: $base-font-family;
  color: $base-color;
}
