@use "global" as *;

.voice {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: 0;
    padding-top: rem(140);
    padding-bottom: rem(140);
  }
}

.voice__inner {
  @include mq("md") {
    position: relative;
  }
}

.voice__inner::before {
  @include mq("md") {
    content: "";
    position: absolute;
    background-image: url(../images/top/voice-bg-01.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: rem(300);
    height: auto;
    aspect-ratio: 300 / 138;
    top: rem(-120);
    left: calc(50% - min(48.5vw, rem(621)));
  }
}

.voice__inner::after {
  @include mq("md") {
    content: "";
    position: absolute;
    background-image: url(../images/top/voice-bg-02.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: rem(71);
    height: auto;
    aspect-ratio: 71 / 162;
    bottom: rem(-67);
    right: -1%;
    transform: translateX(-50%);
  }
}

.voice__items {
  margin-top: rem(40);
  display: grid;
  gap: rem(40);
  @include mq("md") {
    margin-top: rem(30);
    grid-template-columns: repeat(auto-fill, 48.14%);
    gap: rem(40) 3.7%;
  }
}

.voice__item {
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(#000000, 0.25);
  padding: rem(15) rem(16) rem(24);
  @include mq("md") {
    padding: rem(24);
  }
}

.voice__info {
  display: flex;
  gap: 4%;
  align-items: flex-end;
  @include mq("md") {
    gap: 3.5%;
  }
}

.voice__text {
  flex: 1;
}

.voice__age {
  font-size: rem(12);
  line-height: calc(18 / 12);
}

.voice__title {
  font-size: rem(16);
  font-weight: 500;
  margin-top: rem(4);
  line-height: 1.45;
  @include mq("md") {
    font-size: rem(24);
    margin-top: rem(8);
  }
}

.voice__image {
  width: 48.24%;
  max-width: rem(150);
  @include mq("md") {
    min-width: rem(180);
  }
}

.voice__image img {
  height: auto;
  @include mq("md") {
    width: rem(180);
    aspect-ratio: 180 / 140;
    height: 100%;
  }
}

.voice__content {
  margin-top: rem(15);
  font-size: rem(16);
  line-height: calc(24 / 16);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.voice__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}

.voice__basic {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  @include mq("md") {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
