@use "global" as *;

.header {
  background-color: rgba(#0d2936, 0.68);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: rem(80);
  @include mq("md") {
    height: rem(90);
  }
}

.header__menu::before {
  position: absolute;
  display: block;
  width: 100%;
  height: rem(80);
  background-color: $accent-color-green;
  content: "";
  z-index: 100;
  @include mq("md") {
    content: none;
  }
}

.header__menu-wrap {
  overflow-y: scroll;
  height: 100%;
  padding-bottom: rem(60);
  padding-top: rem(104);
  position: relative;
  @include mq("md") {
    padding: 0;
    overflow: hidden;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding: 0 rem(20);
  @include mq("md") {
    max-width: 100%;
    padding: 0 rem(40);
    height: 100%;
  }
}

.header__logo,
.header__drawer {
  position: relative;
  z-index: 110;
}

.header__logoLink {
  width: rem(102);
  @include mq("md") {
    width: rem(133);
  }
}

.header__logoLink img {
  object-fit: contain;
}
