@use "global" as *;

.label {
  color: $accent-color-green;
  outline: rem(1) solid $accent-color-green;
  font-size: rem(12);
  line-height: calc(22 / 12);
  padding: rem(3) rem(12);
  display: inline-block;
}
