@use "global" as *;

.pagetop {
  width: rem(48);
  position: absolute;
  right: rem(15);
  display: block;
  z-index: 10;
  transform: translateY(-90%);
  transition: opacity 0.3s ease 0s;
  @include mq("md") {
    width: rem(80);
    right: rem(20);
  }
}

.pagetop img {
  height: 100%;
}
