@use "global" as *;

.pagetop {
  width: rem(48);
  position: absolute;
  right: rem(15);
  display: block;
  z-index: 10;
  transform: translateY(-90%);
  margin-top: rem(80);
  @include mq("md") {
    width: rem(80);
    right: rem(20);
    margin-top: rem(135);
  }
}

.pagetop img {
  height: 100%;
}
