@use "global" as *;

.voice__inner {
  @include mq("md") {
    position: relative;
  }
}

.voice__inner::before {
  @include mq("md") {
    content: "";
    position: absolute;
    background-image: url(../images/top/voice-bg-01.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: rem(300);
    height: auto;
    aspect-ratio: 300 / 138;
    top: rem(-120);
    left: calc(50% - min(48.5vw, rem(621)));
  }
}

.voice__inner::after {
  @include mq("md") {
    content: "";
    position: absolute;
    background-image: url(../images/top/voice-bg-02.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: rem(71);
    height: auto;
    aspect-ratio: 71 / 162;
    bottom: rem(-67);
    right: -1%;
    transform: translateX(-50%);
  }
}

.voice__items {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(30);
  }
}

.voice__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}
